<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/syntax.css">
        
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.ga_tracking_id }}');
        </script>
    </head>
    <body>
        <div class="center">
            <header>
                <h1><a href="/">{{ site.name }}</a></h1>
                <p>
                    Software Developer @ kakaopay
                </p>
                <address>
                    <a href="mailto:reniowood@gmail.com">reniowood at gmail.com</a>
                </address>
                <a href="resume.html">resume</a>
            </header>
            <section>
                {{ content }}
            </section>
        </div>
    </body>
</html>